*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest/java/com/anthony/constraintinclasstask/
/app/src/test/java/com/anthony/constraintinclasstask/
/app/src/main/AndroidManifest.xml
/build.gradle
/app/build.gradle
/gradle/wrapper/gradle-wrapper.properties
/app/proguard-rules.pro
/settings.gradle
/gradle.properties
